@using SysAcad.Models
@{
    ViewBag.Title = "Treinos";
    bool isAdmin = ViewBag.IsAdmin;
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    Usuario u = ViewBag.Usuario;
}
<h1>Bem vindo, @u.Nome</h1>
